form {
  display: flex;
  flex-direction: column;
}

form .input-group:last-of-type {
  margin-bottom: 1rem;
}

.input-group {
  display: flex;
  flex-direction: column;
}

.input-group .error {
  border-color: red;
}

.error-message {
  color: red;
  font-size: 0.8rem;
  margin-top: 4px;
}
